header
  #title
    a.left(href="https://addieis.online")
      img.icon(
        src="assets/img/pinksquare.png"
        alt="Home icon, a pink square"
      )
    .left Reading aloud
    a.right(href="about") about